

@font-face {
  font-family: "IBMPlexSans"; /* <== On donne un nom unique */
  src:
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans.eot") format("embedded-opentype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans.woff") format("woff"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans.woff2") format("woff2"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans.ttf") format("truetype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans.svg") format("svg"); /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
  font-weight: normal; /* <== On définit le poids de la police */
  font-style: normal; /* <== On définit le style de la police */
  font-display: swap; /* <== On spécifie le comportement d'affichage de la police. Ca indique que le navigateur doit afficher une police de secours immédiatement, puis charger la police personnalisée en arrière-plan. */
}

@font-face {
  font-family: "IBMPlexSans-Bold"; /* <== On donne un nom unique */
  src:
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans-Bold.eot") format("embedded-opentype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans-Bold.woff") format("woff"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans-Bold.woff2") format("woff2"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans-Bold.ttf") format("truetype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/IBMPlexSans-Bold.svg") format("svg"); /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
  font-weight: normal; /* <== On définit le poids de la police */
  font-style: normal; /* <== On définit le style de la police */
  font-display: swap; /* <== On spécifie le comportement d'affichage de la police. Ca indique que le navigateur doit afficher une police de secours immédiatement, puis charger la police personnalisée en arrière-plan. */
}

@font-face {
  font-family: "StratosDeliverooWeb-SemiBold"; /* <== On donne un nom unique */
  src:
    url("./assets/fonts/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.eot") format("embedded-opentype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.woff") format("woff"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.woff2") format("woff2"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.ttf") format("truetype"), /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
    url("./assets/fonts/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.svg") format("svg"); /* <== On donne l'emplacement du fichier de police et on précise le format pour être sûr que le navigateur ne se trompe pas en le devinant à partir de l'extension du fichier */
  font-weight: normal; /* <== On définit le poids de la police */
  font-style: normal; /* <== On définit le style de la police */
  font-display: swap; /* <== On spécifie le comportement d'affichage de la police. Ca indique que le navigateur doit afficher une police de secours immédiatement, puis charger la police personnalisée en arrière-plan. */
}


* {
font-family: 'IBMPlexSans';
font-weight: normal;
font-style: normal;
}


h1 {
  font-size: 150px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'IBMPlexSans';

  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

h4 {
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.wrapper {
  width:90vw;
  margin-left: auto ;
  padding: 40px 40px;
}

.mealContainer{
width: 600px;
background-color: lightgray;
border-radius: 10px}

.imgRestaurant, .imgMeal{
width: 130px;
height : 130px;
border-radius: 10px;
object-fit: cover }
